
<!--Page Header-->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Book Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Page Body-->

<ion-content>

  <h1>I'm looking for...</h1>

  <!--Input for First Call Number
      User's input stored in a string named "callNumber_one"
      Other inputs will use the name "callNumber_two", "callNumber_three", etc.-->

  <ion-item lines=none>
    <ion-input [(ngModel)]="callNumber_one" (ionChange) = "normalize($event)" debounce = "200" placeholder="Call Number"></ion-input>
  </ion-item>
  
  <!--Drop-Down Menu for First Call Number
      This menu determines which section of the library you're looking in
      It's set to "General Collection" by default-->

  <ion-item lines=none>
    <p>in... &nbsp;</p>
    <ion-select value="General Collection" [(ngModel)] = "collection_one" (ionChange) = "getCollection($event)" okText="OK" cancelText="Cancel">
      <ion-select-option value="General Collection">General Collection</ion-select-option>
      <ion-select-option value="Children's Collection">Children's Collection</ion-select-option>
      <ion-select-option value="Curriculum Reference">Curriculum Reference</ion-select-option>
      <ion-select-option value="New Textbook Collection">New Textbook Collection</ion-select-option>
      <ion-select-option value="Old Textbook Collection">Old Textbook Collection</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <!--Input for Second Call Number-->

  <ion-item lines=none>
    <ion-input [(ngModel)]="callNumber_two" placeholder="Call Number"></ion-input>
  </ion-item>

  <!--Drop-Down Menu for Second Call Number
      This menu determines which section of the library you're looking in
      It's set to "General Collection" by default-->

  <ion-item lines=none>
    <p>in... &nbsp;</p>
    <ion-select value="General Collection" [(ngModel)]="collection_two" okText="OK" cancelText="Cancel">
      <ion-select-option value="General Collection">General Collection</ion-select-option>
      <ion-select-option value="Children's Collection">Children's Collection</ion-select-option>
      <ion-select-option value="Curriculum Reference">Curriculum Reference</ion-select-option>
      <ion-select-option value="New Textbook Collection">New Textbook Collection</ion-select-option>
      <ion-select-option value="Old Textbook Collection">Old Textbook Collection</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <!--Input for Third Call Number-->

  <ion-item lines=none>
    <ion-input [(ngModel)]="callNumber_three" placeholder="Call Number"></ion-input>
  </ion-item>

  <!--Drop-Down Menu for First Call Number
      This menu determines which section of the library you're looking in
      It's set to "General Collection" by default-->

  <ion-item lines=none>
    <p>in... &nbsp;</p>
    <ion-select value="General Collection" [(ngModel)]="collection_three" okText="OK" cancelText="Cancel">
      <ion-select-option value="General Collection">General Collection</ion-select-option>
      <ion-select-option value="Children's Collection">Children's Collection</ion-select-option>
      <ion-select-option value="Curriculum Reference">Curriculum Reference</ion-select-option>
      <ion-select-option value="New Textbook Collection">New Textbook Collection</ion-select-option>
      <ion-select-option value="Old Textbook Collection">Old Textbook Collection</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <!--Submit Button-->

  <ion-item class = submitbutton lines=none>
    <ion-button size="large" type="submit" (click)="load()">Submit</ion-button>
  </ion-item>
  

</ion-content>