<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id = "backButton" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>TCNJ Book Finder</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding style="white-space: pre-wrap">

<ion-img-viewer> 
<pinch-zoom>
<div id = "canvasContainer" style = "background-color: #ffffff;"> 
</div>
</pinch-zoom>
</ion-img-viewer>
<pinch-zoom>
<img src = "{{ getSrc() }}" imageViewer/> 
</pinch-zoom>
<br>
<div> {{info}} </div>

</ion-content>
