ion-content {
    
    --background: url('/assets/Background2.png') no-repeat center/cover fixed;
    --color: #ffffff;

}

ion-header {
    //--ion-background-color: #3b3652;
    --ion-background-color: #262748;
    text-align: center;
}

ion-title {

    background-color: #262748;
    color: #ffffff;
    
}

