ion-header {
    
  --ion-background-color: #262748;
  text-align: center;

}

ion-content {    

  --background: url('/assets/Background2.png') no-repeat center/cover fixed;

}

ion-title {

  text-align: center;

}

ion-tab-button {

  color: #ffffff; 
  font-size: 75%; 
  text-decoration: underline; 
  line-height: 99%;

}