<ion-header>
  <ion-toolbar>
    <ion-title>Help</ion-title>
    <ion-tab-button id = "closeButton" (click)="closeModal()">Close Modal</ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p> To find your book’s call number and collection: </p> <br>

  <p> 1. Go to https://library.tcnj.edu/ </p> <br>
  
  <img src = "assets/help/helpPage1.PNG"/> <br>
  
  <p> 2. Enter your book’s name into the search bar. </p><br>
  
  <img src = "assets/help/helpPage2.PNG"/> <br>
  
  
  <p> 3. Select Books & Media and search. </p> <br> 
  
  <img src = "assets/help/helpPage2.PNG"/> <br> 
  
  <p> 4. Locate the book you’re looking for from the list of results. </p> <br> 
  
  <img src = "assets/help/helpPage3.PNG"/> <br>
  
  <p> 5. If the book is listed as “Available at Gitenstein Library” the collection and call number will be listed afterwards. </p> <br>
  
  <div style = "text-align:center"> <img src = "assets/help/helpPage4.PNG"/> <br>
  <span style = "color:#ffffff;"> Note: Do NOT include parentheses in the call number. </span>
  </div>
  
</ion-content>
